
    <div class=" bg-white panel mb-3">
        <p class="font-bold text-xl text-center py-3 px-3">Coming Events</p>
        <p class="text-base text-left text-gray-700 py-3 px-3">{{.Site.Params.event.first}}</p>
        <p class="text-base text-left text-gray-700 py-3 px-3">{{.Site.Params.event.second}}</p>
        <p class="text-base text-left text-gray-700 py-3 px-3">{{.Site.Params.event.third}}</p>
        <p class="text-base text-left text-gray-700 py-3 px-3">{{.Site.Params.event.fourth}}</p>
        <p class="text-base text-left text-gray-700 py-3 px-3">{{.Site.Params.event.fifth}}</p>
    </div>